<div class="alert alert-dismissible alert-warning" id="myAlert">
  <button type="button" class="close" data-dismiss="alert">×</button>
  <h4>Atención!</h4>
  <p>
      La base de datos ha sido reiniciada para una mejor implementación. Disculpa las molestias.
  </p>
</div>

<h1>Todos los eventos</h1>

<div>
    <table class="table table-stripped table-hover">
        <thead>
            <tr>
                <th>Completado</th>
                <th>Título</th>
                <th>Descripción</th>
                <th>Lugar</th>
                <th>Empieza</th>
                <th>Acaba</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <% @events.each do |event| %>
        <tr id="event-<%= event.id%>">
            <td><%= check_box_tag event.completed, class: "checkbox", id: event.id %></td>
            <td><strong><%= link_to event.title, event %><strong></td>
            <td><%= event.description %></td>
            <td><%= event.place %></td>
            <td><%= event.start_date %></td>
            <td><%= event.end_date %></td>
            <td><%= link_to 'X', event_path(event),
                    method: :delete,
                    data: { confirm: 'Estás seguro?' },
                    class: "btn btn-danger"%></td>
        </tr>
        <% end %>

    </table>
    <%if user_signed_in? %>
    <%= link_to 'Nuevo evento', new_event_path, class: "btn btn-primary" %>
    <% end %>

</div>
